{# App Sidebar #}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    {# Sidebar Brand #}
    <div class="sidebar-brand">
        <a href="/" class="brand-link">
            <span class="brand-text fw-light">Tandem Editor</span>
        </a>
    </div>

    {# Sidebar Wrapper #}
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            {# Sidebar Menu #}
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link active">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-film"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-upload"></i>
                        <p>Upload</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-hdd"></i>
                        <p>Media</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_tandem_masters') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_tandem_masters' %}active{% endif %}">
                        <i class="nav-icon bi bi-people"></i>
                        <p>Tandem Masters</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_settings') }}" class="nav-link{% if app.request.attributes.get('_route') == 'app_settings' %} active{% endif %}">
                        <i class="nav-icon bi bi-gear"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
